<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Title</title>
</head>

<body>
    <form method="POST">
        <p>RPS</p><br>

        <label for="rps-choice"> Choose Rock Paper or Scissors: </label>
        <select name="rps-list-choices" id="rps-list-choices">
            <option value="1">Rock</option>
            <option value="2">Paper</option>
            <option value="3">Scissors</option>
        </select>
        <input type="submit" value="Submit Choice!">
    </form>
</body>

</html>